html, body, div, span,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  } 

.container {width: 1200px;}

.left {float: left;}

.right {float: right;}

@media screen and (min-width: 768px) {
    .w25 { width: 25%;}
    .w33 { width: 33.3%;}
    .w40 { width: 40%;}
    .w50 { width: 50%;}
    .w60 { width: 60%;}
    .w30 { width: 30%;}
    .w70 { width: 70%;}
    .w100 { width: 100%;}
    .container { width: 1200px; margin: 0 auto;}
    .left { float: left;}
    .right { float: right;}
    .clear { clear: both;}
    .product-buy {
        display: none;
        font-size: 20px;
        margin-top: 55px;
    }
    
    .product-buy a {
        color: #1c1c1c;
        text-decoration: none;
        border: 1px solid #000000;
        padding: 15px 100px;
        border-radius: 5px;
    }
    
    .product-blocks .box:hover {
        box-shadow: #916841 0px 0px 0px 3px;
        transition: all 300ms;
    }
    
    .product-blocks .box {
        height: 390px;
    }
    
    .box:hover .product-image {
        transform: scale(0.8, 0.8);
        transition: all 300ms;
    }
    
    .box:hover .product-buy {
        display: block;
    }
    
    .box:hover .product-series {
        display: none;
    }
    
    .box:hover .product-price {
        display: none;
    }
    
    .box:hover .product-title {
        display: none;
    }
    
    .box:hover .fundiin {
        display: none;
    }
    
    .product-buy:hover a {
        background: #1c1c1c;
        color: #fff;
        transition: all 0.5s;
    }
    .section-blogs .box:hover img {
        transform: scale(1.1 , 1.1);
        transition: all 500ms ease;
    }
}

@media screen and (max-width: 767px) {
    .mb25 { width: 25%;}
    .mb33 { width: 33.3%;}
    .mb40 { width: 40%;}
    .mb50 { width: 50%;}
    .mb60 { width: 60%;}
    .mb30 { width: 30%;}
    .mb70 { width: 70%;}
    .mb100 { width: 100%;}
    .container { width: 100%;}
    .left { float: left;}
    .right { float: right;}
    .clear { clear: both;}
    .hidden { display: none;}
    .center { text-align: center !important;}
    .logo img { width: 30% !important;}
    .box {padding: 0 10px 0 10px !important;}
    .section2 .container {
        padding: 40px 0 0 0 !important;
    }
    .blogs-text p {
        display: none;
    }
    .section3 .content a {
        display: none;
    }
    .box:hover .product-image {
        transform: scale(0.8, 0.8);
        transition: all 300ms;
    }
}

.header .top-header {
    padding: 10px 10px;
    border-bottom: 1px solid #7c7c7c;
    background-color: #fff;
}

.header .top-header a, span {
    color: #1c1c1c;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'SVN-Gotham';
    font-weight: 500;
}

.header a:hover {
    color: #916841;
}

.text {
    padding: 66px 0;
}
.text a {
    font-weight: 700 !important;
}

.logo img {
    width: 80%;
    margin: 10px 15px 0px 15px;
}

.site-nav-item {
    padding: 0 15px;
    position: relative;
}

.site-item {
    padding: 66px 0;
}

.site-nav-item:hover .menu-login {
    display: block;
}

.menu-login {
    display: none;
    position: absolute;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 180px;
    background-color: #fff;
    left: -30px;
}

.menu-login li {
    padding: 5px 0 5px 10px;
}

.nav {
    padding: 10px;
}

.nav-item {
    padding-bottom: 10px;
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

.bot-header a {
    color: #1c1c1c;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'SVN-Gotham';
    letter-spacing: 2px;
    font-weight: 600;
}

.fa {
    font-size: 14px;
}
.nav-item-drop li {
    padding: 5px 45px;
    text-align: left;
}

.nav-item:hover .menu-drop {
    display: block;
}

.menu-drop {
    display: none;
    text-align: start;
    position: absolute;
    background-color: #fff;
    width: 220px;
    padding-top: 15px;
}

.menu-drop .nav-item-drop {
    cursor: pointer;
    border-bottom: 1px solid #f7f7f7;
    height: 35px;
}

.menu-drop .nav-item-drop a {
    font-weight: 500;
    opacity: 0.8;
    text-overflow: unset;
    white-space: nowrap;
    letter-spacing: 1px;
    padding-left: 5px;
    position: relative;
    top: 10px;
}

.menu-drop .nav-item-drop:hover a {
    color: #916841;
    opacity: 1;
}

.slider img {
    width: 100%;
}

.main {font-family: 'SVN-Gotham';}

.section1 {
    padding-top: 40px;
}

.title {text-align: center; margin-bottom: 10px;}

.title a {
    font-size: 30px;
    text-decoration: none;
    color: #1c1c1c;
    letter-spacing: 2px;
    font-weight: 600;
}

.title a:hover {
    color: #916841;
}

.product-blocks {
    text-align: center;
}

.product-image img {
    width: 100%;
}

.product-series {
    color: #bfbfbf;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 5px;
}

.product-title {
    color: #1c1c1c;
    font-size: 17px;
    margin-bottom: 5px;
    letter-spacing: 2.2px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 1.5px;
}

.box {
    padding: 0 10px;
}

.product-price {
    margin-bottom: 10px;
}

.product-price span {
    padding: 0 10px;
}

.fundiin {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: 500;
}

.fundiin span a {
    text-transform: none;
    color: #0657a3;
}

.product-button{margin-top: 50px;}

.product-button a::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #1c1c1c;
}

.product-button a:hover::before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.product-button a {
    color: #fff;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 500;
    /* background-color: #000000; */
    border: 1px solid #000000;
    padding: 14px 28px;
    text-decoration: none;
    transition: 1s;
    border-radius: 5px;
    position: relative;
}

.product-button a:hover {
    /* background-color: #fff; */
    color: #1c1c1c;
}



.section-blogs {
    margin-top: 40px;
}

.section2 .container {
    padding: 40px 10px 0 10px;
}

.section-blogs img {
    width: 100%;
}

.section-blogs a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #525151;
}

.section-blogs h3 {
    padding: 10px 0 20px 0;
    letter-spacing: 2px;
}

.section-blogs p {
    letter-spacing: 0.9px;
    line-height: 25px;
}

.section-blogs .blogs-image {
    overflow: hidden;
}

.section-blogs .blogs-image:hover img {
    transform: scale(1.1,1.1);
    transition: .5s linear;
}




.section3 {margin-top: 40px;}

.section3 img {
    width: 100%;
}

.section3 .banner {
    position: relative;
}

.section3 .box:hover .banner {
    transform: scale(1.05, 1.05);
    transition: all 300ms;
}

.section3 .content {
    position: relative;
    top: -140px;
    padding: 0 30px;
    /* width: 100%; */
    text-align: start;
}

.section3 .content h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.section3 .content a {
    padding: 15px 28px;
    background-color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    color: #363636;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.section3 .content a:hover {
    color: #fff;
    background-color: #ffffff0f;
    transition: all 500ms;
}

.section5 { margin-top: 50px;}

.section6 { margin-top: 50px;}

.section7 { margin-top: 50px;}

.section8 { margin-top: 50px;}

.section9 { margin-top: 50px;}

.footer { margin-top: 50px;}
.outfit-image img {
    width: 100%;
}

.outfit-image {
    position: relative;
    right: 10%;
    padding-top: 18%;
}

.outfit-icon {
    position: relative;
    top: 150px;
}

.section8 i.fas {
    padding: 6% 7%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
}

.section8 .fas:hover {
    transform: scale(1.1 , 1.1);
}

.section8 .fas.fa-circle {
    position: relative;
    top: -150px;
    color: #fff;
    left: 10%;
    box-shadow: rgba(255, 255, 255, 0.407) 0px 2px 8px 0px;
}

.outfit-image:hover .fa-circle {
    transform: scale(1.1 , 1.1);
}

.section9 .blogs-text {
    text-align: left;   
}

.section9 .blogs-text h3 {
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section9 .product-button {
    text-align: center;
}

.bg-footer {
    background-color: #eaeaea60;
}

.top-footer {
    padding-top: 30px;
}

.top-footer .list-menu .fas {
    font-size: 13px;
}

.logo-footer img {
    height: 80px;
    margin-bottom: 20px;
}

.logo-footer {
    text-align: center;
}

.list-menu li {
    height: 40px;
}

.list-menu li i {
    width: 10%;   
}

.list-menu li p {
    width: 90%;
    color: #363636;
}

.list-menu li a {
    text-decoration: none;
    color: #363636;
}

.top-footer .box {
    padding: 0 10px;
}

.top-footer h3 {
    margin-bottom: 30px;
}

.logo-bct img {
    max-width: 70%;
}

.form input {
    width: 100%;
    height: 40px;
    margin: 20px 0 10px 0;
    border: 0px;
    padding: 0 0;
    background: #d3d3d3;
}

.form input:focus-visible {
    outline: 0px;
}

.form button {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #fff;
}

.form button:hover {
    background-color: #fff;
    color: #000000;
    transition: all 300ms;
}

.footer-social ul {
    text-align: center;
    margin-top: 20px;
}

.footer-social li {
    margin-right: 15px;
}

.footer-social li:hover {
    opacity: 0.8;
}

.footer-social ul li a {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    
}

.facebook {
    padding: 10px 10px;
    max-height: 12px;
    background: #3b5998;
    border-radius: 5px;
}

.instagram {
    padding: 10px 10px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);    max-height: 12px;
    border-radius: 5px;
}

.youtube {
    padding: 10px 10px;
    background-color: #ff0000;
    max-height: 12px;
    border-radius: 5px;
}

.zalo img {
    max-width: 40px;
    max-height: 35px;
    margin-top: 8px;
}

.list-menu li a:hover {
    color: #916841;
}

.bot-footer {
    border-top: 1px solid #000000;
}

.bot-footer p {
    color: #363636;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    padding: 15px 10px 30px 10px;
}

/* page account */
.status-bar a {
    text-decoration: none;
}

.status-bar {
    padding: 10px 0;
    margin-top: 25px;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    height: 20px;
}

.mrg-center {
    margin: 0 auto;
    text-align: center;
}

.margin-top {
    margin-top: 40px;
}

.text-bottom a {
    text-decoration: none;
    color: #916841;
}
